.boton{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #dff6ff, #b8e3ff);
    padding: 30px;
    text-align: center;
}

h1{
    color: #004aad;
    margin-bottom: 25px;
    font-size: 40px;
}

h2{
    color: #0066cc;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    max-width: 500px;
    margin: 20px auto;
}

